<div class="head d-flex flex-row justify-content-around align-items-center py-3 sticky-top shadow-sm bg-white">
  <h2>Appels d'offres <strong>prévoyance</strong> & <strong>complémentaire santé</strong></h2>
  <%= link_to "Récupérer les appels d'offres", scrape_path, class: 'btn btn-cyan btn-rounded btn-shadow m-1' %>
</div>

<% if @offers.empty? %>
  <p class="text-center mt-4">Il n'y a actuellement aucune offre à afficher.</p>
<% else %>
  <div class="container rounded border my-5 pb-3 bg-white">
    <div class="grid">

      <span class="header element"><strong>Titre</strong></span>
      <span class="header element"><strong>Publication</strong></span>
      <span class="header element"><strong>Date limite</strong></span>
      <span class="header element"><strong></strong></span>
      <span class="header element"><strong></strong></span>

      <% @offers.each do |offer| %>
        <%= link_to offer.link, class:'title element', target: :_blank do %>
          <span><%= offer.title.capitalize %></span>
        <% end %>
        <span class='publication_date element font-weight-bold'><%= offer.publication_date %></span>
        <span class='end_date element font-weight-bold'><%= offer.end_date %></span>
        <%= link_to edit_offer_path(offer), class:'edit element' do %>
          <span>Modifier</span>
        <% end %>
        <%= link_to offer_path(offer), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cette offre?" }, class:'delete element' do %>
          <span>Supprimer</span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
