<div class="head d-flex flex-row justify-content-around align-items-center py-3 sticky-top shadow-sm">
  <h2>Appels d'offres <strong>prévoyance</strong> & <strong>complémentaire santé</strong></h2>
  <%= link_to "Récupérer appels d'offres", scrape_path, class: 'btn btn-cyan btn-rounded btn-shadow m-1' %>
</div>

<div class="container border my-5 pb-3">
  <div class="grid">

    <span class="header element"><strong>Titre</strong></span>
    <span class="header element"><strong>Publication</strong></span>
    <span class="header element"><strong>Date limite</strong></span>
    <span class="header element"><strong></strong></span>
    <span class="header element"><strong></strong></span>

    <% @offers.each do |offer| %>
      <%= link_to offer.link, class:'title element' do %>
        <span><%= offer.title.capitalize %></span>
      <% end %>
      <span class='publication_date element'><%= offer.publication_date %></span>
      <span class='end_date element'><%= offer.end_date %></span>
      <%= link_to edit_offer_path(offer), class:'edit element' do %>
        <span>Edit</span>
      <% end %>
      <%= link_to offer_path(offer), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cette offre?" }, class:'delete element' do %>
        <span>Delete</span>
      <% end %>
    <% end %>
  </div>
</div>
